[Desktop Entry]
Name=IXGraphite
Version=v0.30
Icon=no icon
X-Icon-Path=/etc/IXGraphite/Logo.png
Exec=./etc/IXGraphite/ixgraphite
Terminal=false
Type=Application
